<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About - PassCheck</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
         <div class="logo">🔐 PassCheck</div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/analyze">Analyzer</a>
            <a href="/about">About</a>
        </div>
    </nav>

    <div class="container">
        <h1>About This Project</h1>
        <p><strong>PassCheck</strong> is a Flask-based web tool to check the strength of your passwords. It uses scoring logic to detect weak, medium, or strong passwords and offers improvement tips.</p>
        
        <h2>Features</h2>
        <ul style="text-align: left;">
            <li>💪 Password strength checker with live suggestions</li>
            <li>🔐 Strong password generator</li>
            <li>📊 Last 5 password history (session-based)</li>
            <li>🌍 Works offline, fast and secure</li>
        </ul>

        <h2>Tech Stack</h2>
        <p>Python 🐍 · Flask ⚙️ · HTML/CSS 🎨 · JavaScript</p>

        <h2>Contact</h2>
        <p>Made with ❤️ by Ashu</p>
        <p>Email: <a href="mailto:ashu@example.com" style="color: #00ffcc;">ashu@example.com</a></p>
        <p>GitHub: <a href="https://github.com/KAUSHALASHUTOSH" style="color: #00ffcc;">github.com/KAUSHALASHUTOSH</a></p>
    </div>

    <footer>
        Thanks for visiting! Stay secure 🌐
    </footer>
</body>
</html>
