<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Strength Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
    <div class="logo">🔐 SecurePass</div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/analyze">Analyzer</a>
        <a href="/about">About</a>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
<footer>
    &copy; 2025 SecurePass | Made by Ashu
</footer>
</body>
</html>
